{:logseq-wrap
 {:version "v0.9.0", :repo "sethyuan/logseq-plugin-wrap", :effect true, :theme false},
 :logseq-paste-more
 {:version "v1.5.6", :repo "usoonees/logseq-plugin-paste-more", :effect true, :theme false},
 :logseq-todo-plugin
 {:version "v1.19.0", :repo "ahonn/logseq-plugin-todo", :effect true, :theme false},
 :logseq-copy-code-plugin
 {:version "v.1.2.0", :repo "vyleung/logseq-copy-code-plugin", :effect true, :theme false},
 :logseq-osmmaps-plugin
 {:version "2.2.3", :repo "hkgnp/logseq-osmmaps-plugin", :effect true, :theme false},
 :logseq-schrodinger
 {:version "1.5.5",
  :repo "sawhney17/logseq-schrodinger",
  :effect true,
  :theme false},
 :logseq-link-preview
 {:version "v2.2.10", :repo "pengx17/logseq-plugin-link-preview", :effect true, :theme false},
 :logseq-git
 {:version "v1.5.4", :repo "haydenull/logseq-plugin-git", :effect true, :theme false},
 :logseq-mark-map
 {:version "v0.3.17", :repo "vipzhicheng/logseq-plugin-mark-map", :effect false, :theme false}
 :logseq-reminder {:version "v0.8.3", :repo "sethyuan/logseq-plugin-reminder", :effect true, :theme false}
 :logseq-readwise-official-plugin {:version "v1.4.9", :repo "readwiseio/logseq-readwise-official-plugin", :effect true, :theme false}
 :logseq-readwise-reader-export {:version "0.2.0", :repo "pstuifzand/logseq-readwise-reader-export", :effect true, :theme false}
 :logseq-quick-capture {:version "0.0.7", :repo "tankcool/logseq-quick-capture", :effect false, :theme false}
 :logseq-datenlp-plugin {:version "v4.2.1", :repo "hkgnp/logseq-datenlp-plugin", :effect true, :theme false}
 :logseq-awesome-links {:version "v1.15.16", :repo "yoyurec/logseq-awesome-links", :effect true, :theme false}
 :logseq-smart-typing {:version "v0.12.0", :repo "sethyuan/logseq-plugin-smart-typing", :effect true, :theme false}
 :logseq-localassets-plugin {:version "1.6.5", :repo "hkgnp/logseq-localassets-plugin", :effect true, :theme false}
 :logseq-plugin-query-chart {:version "v0.5.61", :repo "0w0miki/logseq-plugin-query-chart", :effect true, :theme false}
 :logseq-catppuccin {:version "v0.2.3", :repo "catppuccin/logseq", :effect false, :theme true}
 :template-gallery {:version "0.12", :repo "dangermccann/logseq-template-gallery", :effect true, :theme false}
 :logseq-query-builder-plugin {:version "0.7", :repo "adxsoft/logseq-query-builder-plugin", :effect false, :theme false}
 :logseq-smartsearch {:version "v0.30.0", :repo "sethyuan/logseq-plugin-smartsearch", :effect true, :theme false}
 :logseq-fenced-code-plus {:version "0.0.7", :repo "xyhp915/logseq-fenced-code-plus", :effect true, :theme false}
 :logseq-git-diff-since {:version "v1.1.1", :repo "Glooory/logseq-git-diff-since", :effect true, :theme false}
 :logseq-image-editor {:version "v1.2.0", :repo "b-yp/logseq-image-editor", :effect true, :theme false}
 :logseq-plugin-short-namespaces {:version "v1.5.3", :repo "YU000jp/logseq-plugin-short-namespaces", :effect true, :theme false}
 :logseq-remove-empty-blocks {:version "v0.0.4", :repo "Cologler/logseq-remove-empty-blocks-typescript", :effect false, :theme false}
 :logseq-plugin-confirmation-hyperlink {:version "v1.6.7", :repo "YU000jp/logseq-plugin-confirmation-hyperlink", :effect true, :theme false}
 :logseq-plugin-confirmation-done-task {:version "v1.9.0", :repo "YU000jp/logseq-plugin-confirmation-done-task", :effect true, :theme false}
 :logseq-plugin-show-weekday-and-week-number {:version "v1.36.0", :repo "YU000jp/logseq-plugin-show-weekday-and-week-number", :effect true, :theme false}
 :logseq-display-math {:version "v1.0.1", :repo "AllanChain/logseq-display-math", :effect true, :theme false}
 :logseq-hide-everything-plugin {:version "v1.1.0", :repo "ahonn/logseq-plugin-hide-everything", :effect true, :theme false}
 :logseq-footnote-plugin {:version "v0.0.3", :repo "gremi-jr/logseq-footnote-plugin", :effect false, :theme false}
 :logseq-plugin-multiple-assets {:version "v1.2.0", :repo "YU000jp/logseq-plugin-multiple-assets", :effect true, :theme false}
 :logseq-sort-blocks {:version "v0.0.2", :repo "Cologler/logseq-sort-blocks-typescript", :effect false, :theme false}
 :logseq_block_spacer {:version "v1.0.1", :repo "gfgafn/logseq_block_spacer", :effect false, :theme false}
 :logseq-plugin-block-transformer {:version "v1.0.2", :repo "JuniverseCoder/logseq-plugin-block-transformer", :effect false, :theme false}
 :logseq-plugin-two-hop-link {:version "v1.17.1", :repo "YU000jp/logseq-plugin-two-hop-link", :effect true, :theme false}
 :logseq-mhtml-viewer {:version "v1.0.2", :repo "lee88688/logseq-mhtml-view-plugin", :effect true, :theme false}
 :logseq-live-math {:version "v1.1.6", :repo "AllanChain/logseq-live-math", :effect true, :theme false}
 :logseq-bidi {:version "0.1.0", :repo "dobidi/logseq-bidi", :effect true, :theme false}
 :logseq-hierarchy-jump {:version "v0.3.4", :repo "sethyuan/logseq-plugin-hierarchy-jump", :effect true, :theme false}}
